.vs/
/HeadAndTail/HeadAndTail/bin
/HeadAndTail/HeadAndTail/obj
/calculator/calculator/obj
/calculator/calculator/bin
/evenodd/evenodd/bin
/evenodd/evenodd/obj
/greater/greater/bin
/greater/greater/obj
/HarmonicNumber/HarmonicNumber/bin
/HarmonicNumber/HarmonicNumber/obj
/LeapYear/LeapYear/bin
/LeapYear/LeapYear/obj
/powerOf2/powerOf2/bin
/powerOf2/powerOf2/obj
/Swap/Swap/bin
/Swap/Swap/obj
/VowelConsonent/VowelConsonent/bin
/VowelConsonent/VowelConsonent/obj
